*{
  margin: 0;
  padding: 0;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: white;
}
#titleDiv{
  margin: 5px;
  display: flex;
  justify-content: center;
}
#title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 37px;
  color: black;
  padding: 10px;
}
#logo{height: 100px;}
h3{
  font-size: 26px;
  padding-bottom: 5px;
}

.navBar {
  background-color: #AAC85C;
  overflow: hidden;
}
.button, .navBar a {
  background-color: #AAC85C;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.navBar a:hover {
  background-color: #ddd;
  color: black;
}
.navBar a.active {
  background-color: #3498DB ;
  color: white;
}

/* younghungrybroke.html */
#sidebarContainer{
  position: absolute;
  top: 50%;
  margin-top: -200px;
  z-index: -1;
  width: 100%;
}
#content{
  /* height: 75%; */
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
}

#nutritionBox{
  width: 50%;
  float: right;
}
.button{
  height: 30px;
  display: inline;
}


#recipeInfoBox{
  width: 40%;
}

#recipeBox, #searchBtn, #randomBtn{
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
#searchBtn:hover, #randomBtn:hover{
  background: #ccc;
}
#searchbox {
  margin: 15px;
}
#recipeDivBox{
  display: none;
}
/* FLEXBOX FOR THE CATEGORIES - START*/
#catHeader, #searchedCat{
  text-align: center;
  margin: 20px;
}
#posters, #searchedRecipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.box {
  position: relative;
  margin: 8px;
  border: 3px solid;
  width: 300px;
  justify-content: space-around;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
  align-items: center;
}
.mid {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.box:hover .image {
  opacity: 0.3;
}
.box:hover .mid {
  opacity: 1;
}
.text {
  background-color: #AAC85C;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* FLEXBOX FOR THE CATEGORIES - END*/

/* NUTRITIONAL FACTS */
@import "compass/css3";
/*
body {
  font-size: small;
  line-height: 1.4;
}
p {
  margin: 0;
} */
.performance-facts {
  border: 1px solid black;
  margin: 20px;
  float: left;
  width: 50%;
  padding: 0.5rem;
  table {
    border-collapse: collapse;
  }
}
.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
  p {
    margin: 0;
  }
}
.performance-facts__table {
  width: 100%;
  thead tr {
    th, td {
      border: 0;
    }
  }
  th, td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
  }
  td {
    &:last-child {
      text-align: right;
    }
  }
  .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .thick-row {
    th, td {
      border-top-width: 5px;
    }
  }
}
.small-info {
  font-size: 0.7rem;
}
.performance-facts__table--small {
  @extend .performance-facts__table;
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
  thead {
    tr {
      border-bottom: 1px solid black;
    }
  }
  td {
    &:last-child {
      text-align: left;
    }
  }
  th, td {
    border: 0;
    padding: 0;
  }
}
.performance-facts__table--grid {
  @extend .performance-facts__table;
  margin: 0 0 0.5rem 0;
  td {
    &:last-child {
      text-align: left;
      &::before {
        content: "•";
        font-weight: bold;
        margin: 0 0.25rem 0 0;
      }
    }
  }
}
.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}
/* NUTRITION FACTS END */

/* recipe.html */
#shareRecipe {
  width: 500px;
  border: 10px solid black;
  padding: 30px;
  justify-content: center;
}

#recipeForm{
  font-family: 'Gloria Hallelujah', cursive;
  text-align: left;
  font-size: 30px;
  color: black;
}
.rButton{
  background-color: #AAC85C;
  float: left;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

#recipeTable {
  border: 1px solid black;
  overflow: auto;
  display: inline-table;
  text-align: center;
}

#getRecipeButton{
  background-color: #AAC85C;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* account.html */
#newAccount{
  width: 500px;
  border: 10px solid black;
  padding: 30px;
  justify-content: center;
}

.aButton {
  background-color: #AAC85C;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
